
server {

    listen 80;
    server_name {{ext_name}};

    location / {

        # Since I utilize dynamic (DHCP) IP address allocation for the backend cluster,
        # I should provision for changing backend IP address. And that's how.
        resolver 192.168.18.6;
        resolver_timeout 10s;

        set $backend_upstream_wsgi "{{ int_name }}:9090";


        include uwsgi_params;
        uwsgi_pass $backend_upstream_wsgi;

        client_max_body_size 0;

        if ($request_uri ~ "^/.*") { set $flag true ; }

        access_redislog r nginx-access:{{project}}:{{instance}}:$redislog_yyyymmddhh command=RPUSH if=$flag;
        access_redislog r nginx-access:{{project}}:{{instance}}:$redislog_yyyymmdd command=RPUSH if=$flag;
    }
}

