[core]

system.name = NextGISWeb
system.full_name = NextGISWeb
database.host = {{db_host}}
database.name = {{db_name}}
database.user = {{db_user}}
database.password = {{db_pass}}
# database.check_at_startup =
# packages.ignore =
# components.ignore =

[pyramid]

secret = nextgis

[feature_layer]

# identify.attributes =

[file_upload]

path = /tmp

[file_storage]

path = /data

[webmap]

# basemaps =
# bing_apikey =
# identify_radius =
# popup_width =
# popup_height =

[wmsclient]


[mapserver]

# fontset =

